{{template "base" .}}

{{define "content"}}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Contact Us</h1>
        </div>
    </div>
</div>
{{end}}